
.example-headers-align{
    display: flex;
    flex-direction: column;
    width: 30vw;
    margin: 3em auto;
  }
  .productform{
    display: flex;
    flex-direction: column;
    
  }
  :host {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  h1 {
    width:500px;
    margin: 0 auto;
    text-align: center;
  }
  .product-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 2em;
  }
  
  .product-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid rgb(98, 42, 42);
    border-radius: 10px;
    margin: 2em;
    width: 250px;
    height: max-content;
    color: darksalmon;
  }
  
  .button-group {
    margin-top: calc(var(--size-bezel) * 2.5);
  }
  
  button {
    color:rgb(78, 219, 31);
    padding: var(--size-bezel) calc(var(--size-bezel) * 2);
    background: var(--color-accent);
    border: none;
    border-radius: var(--size-radius);
    font-weight: 900;
  }